<h1>All services on {{host}}</h1>

<section class="services">
  <button ng-click="refreshState()">refresh</button>
  <p>Table buttons can be swiped to press many at once</p>
  <table ng-mouseleave="mouseUp()">
    <tr ng-repeat="svc in services" class="">
      <td class="buttons"
          ng-mousedown="mouseDown($event)"
          ng-mouseup="mouseUp()">
        <button ng-class="{swiped: currentlySwiping.Start[$index]}"
                ng-click="sendCommand(svc, 'startProcess')"
                ng-mouseleave="swipe($index, svc, $event)"
                ng-mouseenter="swipe($index, svc, $event)">Start</button>
        <button ng-class="{swiped: currentlySwiping.Stop[$index]}"
                ng-mouseleave="swipe($index, svc, $event)"
                ng-mouseenter="swipe($index, svc, $event)"
                ng-click="sendCommand(svc, 'stopProcess')">Stop</button>
        <button ng-class="{swiped: currentlySwiping.Restart[$index]}"
                ng-mouseleave="swipe($index, svc, $event)"
                ng-mouseenter="swipe($index, svc, $event)"
                ng-click="sendCommand(svc, 'restart')">Restart</button>
      </td>
      <td><a href="{{svc.name}}/">{{svc.name}}</a></td>
      <td class="state-{{svc.statename}}">{{svc.statename}}</td>
      <td>{{svc.description}}</td>
    </tr>
  </table>
</section>

