body {
    font-family: sans-serif;
    font-size: 8pt;
    background: #ccc;
}

section {
    background: #fff;
    margin: 10px;
}
section.status, section.config {
    width: 40%;
    vertical-align: top;
    display: inline-block;
}
.boring {
    font-size: 80%;
}
.state-RUNNING { background: green; }
.state-STOPPED { background: red; }
.state-FATAL { background: gray; }
.state-EXITED { background: lightgray; }

button.swiped { background: rgb(248, 248, 149); }

td.buttons {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}