[buildout]
parts = external_libs
bin-directory = buildout_bin
download-cache = /tmp/

[external_libs]
recipe = zc.recipe.egg
eggs = web.py
       python-openid
       pyxml
       cyclone
       distribute==0.6.15
#       FuXi==1.2.production
interpreter = py
python = python
extra-paths = 
  /my/site/magma
  /my/proj/nevowopenid
  /my/site/photo
  /home/drewp/projects/nevowopenid
  /home/drewp/projects/photo
  /usr/lib/python2.5/site-packages/oldxml/_xmlplus/utils
  /usr/lib/python2.6/site-packages/oldxml/_xmlplus/utils
  /usr/lib/python2.5/dist-packages/oldxml/_xmlplus/utils
  /usr/lib/python2.6/dist-packages/oldxml/_xmlplus/utils
  /home/drewp/projects/room/report
  /my/proj/room/report
  /home/drewp/projects/ffg/sparqlhttp
  /my/proj/ffg/sparqlhttp

[python]
executable = /usr/bin/python2.6



