doctype html
html
  head
    
    meta(name="viewport", content="width=1000, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")

    title magma
    link(rel="shortcut icon", sizes="90x90", href="icon-90.png")
    link(rel="stylesheet", href="style.css")

    //link(rel="import", href="magma-chat.html")
    link(rel="import", href="components/magma-plot.html")
    link(rel="import", href="components/strip-charts.html")
    //link(rel="import", href="magma-photo.html")
    //link(rel="import", href="magma-overlay-diagram.html")
    link(rel="import", href="/heist/heist-recent-transactions.html")
    link(rel="import", href="/countdown/countdown-view.html")
    
    link(rel="import", href="/rdf/rdf-oneshot.html")
    link(rel="import", href="/rdf/rdf-uri.html")
    link(rel="import", href="/rdf/graph-view.html")
    link(rel="import", href="/rdf/streamed-graph.html")
    
    link(rel="import", href="/lib/polymer/1.0.9/platinum-sw/platinum-sw-register.html")
    link(rel="import", href="/lib/polymer/1.0.9/platinum-sw/platinum-sw-cache.html")
    script.
      window.NS = {
        dev: 'http://projects.bigasterisk.com/device/',
        room: 'http://projects.bigasterisk.com/room/',
        rdfs: 'http://www.w3.org/2000/01/rdf-schema#',
        sensor: 'http://bigasterisk.com/homeauto/sensor/',
        b0: 'http://bigasterisk.com/homeauto/board0/',
      };
  body
    platinum-sw-register(auto-register)
      platinum-sw-cache(default-cache-strategy="fastest")
    div.body2
      div
        streamed-graph(url="graph/events", graph="{{graph}}")

        div.cell.flexFit(style="background-color: #876853")
          a.otherPage(href='/frontDoorLock/') Front door lock
          a.otherPage(href='/cam/crib') Crib cam
          a.otherPage(href='/cam/livingRoom') Living cam
          a.otherPage(href='/homeauto/spectro/') Big bed live audio
          a.otherPage(href='https://bigasterisk.slack.com/messages') Slack chat
          a.otherPage(href='/ntop/lua/local/flows_json.lua') ntop summary
          
          div(style="display: flex")
            form(method="POST", action="/timebank/block"): button: | block Ari net
            form(method="POST", action="/timebank/unblock?t=30m"): button: | unblock Ari net for 30min
            a.otherPage(href='/timebank/') Timebank
           
        
          a.otherPage(href="/grafana/") Grafana
          ul
            li: a.otherPage(href="/grafana/d/E719Safiz/temperatures") Temperatures
            li: a.otherPage(href="/grafana/d/QM19I-fik/power-usage") Power
            li: a.otherPage(href="/grafana/d/eBftoOqik/who?orgId=1&from=now-24h&to=now") Who
            li: a.otherPage(href="/grafana/d/fgJ9I-Bmz/presence") Presence
          a.otherPage(href="//checkvist.com/checklists/422518") Family checkvist
          a.otherPage(href="/gasuse/submitFillUp") Gasuse submit
          a.otherPage(href="/diary/") Diarybot
          
          a.otherPage(href="/map/") Map
          a.otherPage(href="/search/") Search
          a.otherPage(href="/search/files/") File search
          a.otherPage(href="/sfd/") SFD
          a.otherPage(href="https://docs.google.com/spreadsheets/d/1dT-hzFMcpmhgwNlec22LG_N74HgRc8xWzifHpCbCv7k/edit#gid=0") Whopickedthis

          a.otherPage(href="/logins/") logins 
          
        div.cell.flexFit(style="background-color: #ffe4e8")
          countdown-view()

        div.cell.hidden
          | Locations
          div
            strip-charts
          div
            span.who person1
            | near daly city bart, ETA home at 19:21 (51 minutes)
          div 
            span.who person2 phone
            | phone is home, on wifi; keys by front door
          div 
            span.who Apollo
            | living room couch (for 12 minutes)
          div 
            span.who person3
            | phone last seen on wifi 8 minutes ago
          div
            span.who person4
            | computer last used at 07:14
            
        div.cell.crammedFrame(style="")
          div: a(href="/ruler/analysis/") ruler failing checks
          iframe(src="/ruler/analysis/")
          
        div.cell.crammedFrame(style="background-color: #15743c")
          div: a(href="https://bigasterisk.com/wifi/") wifi users and recent visitors
          iframe(src="https://bigasterisk.com/wifi/table")
          
        div.cell.flexFit(style="background-color: #e3c334")
          | HA nodes
          div(style="overflow-y: auto; height: 100%")
            table
              tr
                th: a(href="/tradfri/") ikea light hub
              tr
                th: a(href="/pi/kitchen/") kitchen
                td: a(href="/supdebug/kitchen/") supdebug
              tr
                th: a(href="/pi/bed/") bed
                td: a(href="/supdebug/bed/") supdebug
              tr
                th: a(href="/pi/changing/") changing
                td: a(href="/supdebug/changing/") supdebug
              tr  
                th: a(href="") dash
                td: a(href="/supdebug/dash/") supdebug
              tr
                th: a(href="/arduino/bang/") bang
                td: a(href="/supdebug/bang/") supdebug
              tr
                th: a(href="/arduino/slash/") slash
                td: a(href="/supdebug/slash/") supdebug
              tr
                th: a(href="/pi/frontbed/") front bed
                td: a(href="/supdebug/frontbed/") supdebug
          
        div.cell.flexFit(style="background-color: #ec8281")
          heist-recent-transactions()


        div.cell.flexFit
          magma-photo(uri="http://photo.bigasterisk.com/digicam/dl-2011-09-16/DSC_3992.JPG")
        div.cell.chat
          magma-chat.chat()
          ol
            li todo:
            li support multiple light controls from multiple hosts
            li sync light control values
            li surface some supervisor buttons, like minetest
            li decompose power to known components: heater, fridge, computers, screens
            li show screen power, turn off screens remotely
            li master light controls, like 'all lights off'
            li make wifi widget smaller, show useful info
            li make ruler summarize better
            li fix heist to show txns
            li unfold/expand sections as they become ready
            li touch section to zoom it to full screen
            li chat support
            li music player widget
            

        div.cell(style="flex: 0 0")
          | Root page rendered at SERVE_TIME background-color: #c86866
    magma-overlay-diagram()
