* {
    margin: 0;
    padding: 0;
}

html > body {
    background: black;
    margin: 0 !important;

}
#sections {
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;
    background: black;
    color: gray;
    font-family: sans;
}
h2 {
    color: #C3B5D6;
    font-size: 18px;
    margin: 6px;
}
.section {
    border: 1px solid gray;
    margin: 3px 3px 3px 0;
    padding: 3px 0;
    overflow: hidden;
    width: 480px;
    position: relative;
} 

#disconnected {
    background: none repeat scroll 0 0 #8f4200;
    color: black;
    padding: 3px;
}
.ranCommand {
    margin: 10px;
    padding: 10px;
    background: yellow;
}
.commands  {
    margin-bottom: 8px;
}

.commands table tr { height: 64px; }
.commands table td { width: 153px; height: 64px; }
.commands button  {
    width: 153px;
    height: 90px;
    cursor:pointer;
    position: relative;
    background:#222222;
    border:1px outset gray;
    color:#6D6CE4;
    font-size: 16px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.commands button div.label, .commands button img {
    left: 45px;
    top: 0;
    width: 102px;
}
button div.label {
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    z-index: 2;
    position: absolute;
}

.icon {
    position: relative;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    z-index: 1;
    background: url(icons);
}

.icon.map		{ background-position: 0px -0px; }
.icon.search		{ background-position: 0px -75px; }
.icon.diary		{ background-position: 0px -150px; }
.icon.heaterOn		{ background-position: 0px -225px; }
.icon.garage		{ background-position: 0px -300px; }
.icon.whatsplayingnext	{ background-position: 0px -375px; }
.icon.gasuse		{ background-position: 0px -450px; }
.icon.freeway		{ background-position: 0px -525px; }
.icon.bathroomLight	{ background-position: 0px -600px; }
.icon.frontLightOff	{ background-position: 0px -675px; }
.icon.frontLightOn	{ background-position: 0px -750px; }
.icon.familyList	{ background-position: 0px -825px; }
.icon.trainNewSpam      { background-position: 0px -900px; }
.icon.seenLists		{ background-position: 0px -975px; }
.icon.stopBackupPreDrew	{ background-position: 0px -1050px; }
.icon.heaterOff		{ background-position: 0px -1125px; }
.icon.backupPreDrew	{ background-position: 0px -1200px; }
.icon.sfd  		{ background-position: 0px -1275px; }

.icon.music { 
    background-position: -75px 0;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: bottom;
}

button.current { 
    opacity: 1;
    background: #faa;
} 
button.recommend { 
    opacity: .7;
    background: #fff;
}

.commands form {
    position: relative;
}
.commands form .response {
    background: none repeat scroll 0 0 #929292;
    border: 1px solid white;
    color: black;
    left: 20px;
    opacity: 0.9;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    top: 20px;
    width: 163px;
    z-index: 5;
}

.commands form .response.success {
    background: #63ad67;
}
.commands form .response.error {
    background: #EB846A;
    border: #f00;
}

.wifiNow {
    font-family: sans-serif;
}
.wifiNow table {
    border-collapse: collapse;
    font-size: 80%;
}
.wifiNow td, .wifiNow th {
    border: 1px solid #9a9a9a;
    white-space: nowrap;
}
.wifiNow td {
    padding-right: 8px;
}
.wifiNow .lease {font-size: 70%;}
.wifiNow .ip {font-size: 70%;}
.wifiNow .rssi {font-size: 70%;}
.wifiNow .mac {font-size: 70%;}
.wifiNow th {
    text-align: left;
}
.wifiNow .signal {
    background:#76733F;
    color:#FFFFFF;
}
.wifiNow .nosignal {
    color:#aaa;
}
.imgFrame {
    position: relative;
    border: 1px solid blue;
    width: 104px;
    height: 80px;
    overflow: hidden;
    float: left;
}
.imgFrame img {
    position: relative;
}
.imgFrame a {
    font-size: 10px;
} 
a {
    text-decoration: none;
    color: #00f;
}
a img {
    border: 0;
    float: left;
}
.graph {
    float: left; width: 158px; 

overflow: hidden;
}
.graph h1 {
    font-size: 10px;
    margin: 0;
}
.graph.munin img {
    position: relative; left: -23px; top: -8px; width: 180px;
}

.links a {
    background:none repeat scroll 0 0 #333333;
    border:1px outset gray;
    color:#6D6CE4;
    display:inline-block;
    margin:3px 0 3px 2px;
    padding:9px 3px;
    text-decoration:none;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 58px;
}
.music a {
    background: none repeat scroll 0 0 #2C2D18;
    border-color: #676922;
    color: #B9BC48;
    height: auto;
}
.col2 > div {

}

#recentVisitors {
    
}
#recentVisitors {
    font-size: 90%;
    color: #c6c6c6;
}
#recentVisitors .t {
    font-size: 85%;
}
#recentVisitors tr.bluetooth {
    background: #090932;
}
#recentVisitors tr.wifi {
    background: #221103;
}
.graphSidebar {
    width: 75px;
    font-size: 10px;
    float:left;
    padding-top: 17px;
}
.graphUnder {
    font-size: 13px;
    clear:both;
}
.graphUnder > div {
    display: inline-block;
}
.graphUnder label {
    line-height: 30px;
    display:inline-block;
    padding: 4px;
}
.graphLayout {
    width: 480px;
    height: 300px;
}
.graphLayout > a > img {
    float: left;
}
.currentTemp {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.temp-livingRoom { color: #B45AE5; }
.temp-downstairs { color: #4C4CC3; }
.temp-bedroom    { color: #C80032; }
.temp-ariBedroom { color: #0FB30F; }
.temp-KSQL       { color: #966432; }
.temp-frontDoor  { color: #e3e31f; }

.sensor span {
    border: 1px solid gray;
    display: inline-block;
    padding: 1px;
    margin: 1px;
}
.sensor span.active {
    background: none repeat scroll 0 0 #AA8C2B;
    color: black;
}

form.lowRank {
}
form.lowRank button {
height: 30px;
width: 80px;
background: #565656;
}

#frontDoor textarea, #frontDoor input {
background: #5af199;
color: #484848;
font-family: monospace;
width: 12.5em;
overflow:hidden;
font-size: 12px;
padding: 4px;
border: 0;
}
#frontDoorSave {
position: absolute;
top: 0;
right: 0;
color: yellow;
}


/* from http://isotope.metafizzy.co/docs/animating.html */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.prevSolar {
    overflow: hidden;
    width: 240px;
    height: 76px; 
}
.prevSolar > div {
    position: relative;
    top:-5px;
}
.transactions { font-size: 80%; }
.transactions td { vertical-align: top; }
.transactions td.date, .transactions td.amt {
 white-space: nowrap;
}
.transactions tr.recent { color: yellow; }
.transactions tr.private td.amt { color: black; background: black; }

.vpn th {
    font-size: 75%;
}
.vpn td {
    text-align: center;
    font-size: 75%;
    color: #14A22B;
}
.vpn td a {
    color: #5F5FDA;
}

table.sensuEvents {
    font-size: 60%;
    border-collapse: collapse;
}
table.sensuEvents .last {
    font-size: 85%;
}
table.sensuEvents .status1 { color: #000; background: rgb(247,247,161); }
table.sensuEvents .status2 { color: #000; background: rgb(255, 161, 161); }
table.sensuEvents .status3 { color: #000; background: rgb(206, 72, 72); }
table.sensuEvents td {
    padding: 2px 5px;
    border-top: 1px solid gray;
}
table.sensuEvents .last span { white-space: nowrap; }

#thermostat button {
    padding: 2px 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
}
#thermostat input {
    color: #BF7BDF;
    background: black;
    text-align: center;
    padding: 2px 1px;
    width: 23pt;
}

.sending {
    background: rgb(172, 156, 42);
    color: rgb(75, 75, 75);
}