body
  display: flex
  flex-direction: row
  flex-wrap: wrap
  background-image: url('vines-blur1.jpg')
  background-attachment: fixed
  background-size: cover
  color: white
  text-align: justify
  text-shadow: 1px 1px 1px black
  font-size: 10pt
  font-family: sans
  touch-action: manipulation

  > div
    margin-right: 3px
    margin-bottom: 1em
    padding: 4px
    outline: 1px solid #00000052
    background: #879a8cc2

a
  display: inline-flex
  align-items: center
  margin: 3px
  padding: 9px
  min-width: 70px
  min-height: 60px
  background: #94ca7985
  text-shadow: 1px 1px 0px #848383

form
  display: inline-block

button
  margin: 3px
  padding: 10px
  min-width: 50px
  min-height: 60px
  border-radius: 7px
  background-color: #ffffffa6

table
  border-collapse: collapse

  tr:nth-child(odd)
    background: #00000021

  th
    background: #00000017
    text-align: left
    font-weight: normal

img 
  height: 3em

