link(rel="import", href="bower_components/polymer/polymer.html")

polymer-element(name="magma-refreshing-widget")
  style.
    #top {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  template
    #top
      | refresing widget base

  script(src="magma-refreshing-widget.js")