link(rel="import", href="bower_components/polymer/polymer.html")
link(rel="import", href="magma-refreshing-widget.html")

polymer-element(name="magma-plot", extends="magma-refreshing-widget")
  style.
    #top {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  template
    #top
      img(src="//graphite.bigasterisk.com/render/?width={{imgWidth}}&height={{imgHeight}}&_salt={{salt}}&{{params}}")
  script(src="magma-plot.js")
  