link(rel="import", href="bower_components/polymer/polymer.html")
link(rel="import", href="magma-refreshing-widget.html")
script(src="/lib/jquery-2.0.3.min.js")

polymer-element(name="magma-photo", extends="magma-refreshing-widget")
  style.
    #top {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  template
    #top
      img(src="{{src}}")
      a(href="{{photoPage}}", target="_blank") See this on photo site
      p
        {{facts}}
  script(src="magma-photo.js")
  // add an arrow target <a> with rdfa uri to this, point svg at it from a text line