html
  height: 100%
  
body
  margin: 0
  height: 100%
  display: -webkit-flex
  flex-flow: row
  align-items: stretch
  .col
    border: 3px solid black
    flex: 1 0 1%
    flex-grow: 1
    display: -webkit-flex
    flex-flow: column
   
    .cell
      flex: 1 0 1%
      position: relative

body
  font-family: sans
  font-size: 11px